<project basedir=".">
    <!--
    IMPORTANT: This file is private and should not be edited.
    -->
    <import file="${cmd.config.dir}/plugin.xml"/>

    <target name="init-properties">
        <!--init the defualt app path here-->
        <property name="args.path" location="${basedir}/../../"/>
        <property name="templates.dir"
                  location="${framework.config.dir}/templates"/>

    </target>

    <!--
        Copies select files from the base sdk directory into the  new application
        directory structure
    -->
    <target name="copy-framework-to-workspace-impl">
        <property name="framework.target.dir" location="${framework.path}"/>
        <copy todir="${framework.target.dir}">
            <fileset dir="${basedir}/../"
                     includes="src/**/*,
                               builds/**/*,
                               cmd/**/*,
                               locale/**/*,
                               resources/**/*,
                               *.js"/>
        </copy>
        <script language="javascript">
            importPackage(java.lang);
            project.setProperty('newline', new String('\n'));
        </script>
        <echo append="true"
              file="${args.path}/${senchadir}/workspace/sencha.cfg"
                >${framework.name}.dir=${workspace.dir}/${framework.relative.path}${newline}</echo>
    </target>

    <scriptdef name="x-generate-uuid" language="javascript">
        <attribute name="property" />
        <![CDATA[
            importClass( java.util.UUID );
            project.setProperty(
                attributes.get( "property" ),
                UUID.randomUUID().toString());
        ]]>
    </scriptdef>

    <!--
        Generates an application structure from templates
        CLI args available as:
        args.name => the application name
        args.path => the target path of the new application
    -->
    <target name="generate-app-impl">
        <x-generate-uuid property="unique.id"/>
        <x-generate dir="${templates.dir}/App" todir="${args.path}">
            <param name="name" value="${args.name}"/>
            <param name="appName" value="${args.name}"/>
            <param name="library" value="all"/>
            <!-- These are needed for the theme template-->
            <param name="themeName" value="${args.themeName}"/>
            <param name="controllerName" value="${args.controllerName}"/>
            <param name="viewName" value="${args.viewName}"/>
            <param name="frameworkName" value="${framework.name}"/>
            <param name="frameworkPath" value="${framework.path}"/>
            <param name="senchadir" value="${senchadir}"/>
            <param name="uniqueId" value="${unique.id}"/>
        </x-generate>
        <antcall target="update-app">
            <param name="item" value="${args.viewName}"/>
            <param name="section" value="views"/>
        </antcall>
        <antcall target="update-app">
            <param name="item" value="${args.controllerName}"/>
            <param name="section" value="controllers"/>
        </antcall>
    </target>

    <!--
        Adds a new theme template application
        args.name => the theme name
        args.cssPath => the path to the css file
    -->
    <target name="generate-theme-impl">
        <x-generate dir="${templates.dir}/App/resources" todir="${args.path}/resources">
            <param name="name" value="${args.name}"/>
            <param name="themeName" value="${args.name}"/>
            <param name="frameworkPath" value="${framework.path}"/>
            <param name="frameworkName" value="${framework.name}"/>
        </x-generate>
    </target>

    <!--
        Adds a controller class to the application
        CLI args available as:
        args.name => the application name
        args.path => the target path of the new application
    -->
    <target name="generate-controller-impl">
        <x-generate dir="${templates.dir}/App/app/controller" todir="${args.path}/app/controller">
            <load file="${args.path}/app.json"/>
            <param name="name" value="${args.name}"/>
            <param name="controllerName" value="${args.name}"/>
        </x-generate>
        <antcall target="update-app">
            <param name="item" value="${args.name}"/>
            <param name="section" value="controllers"/>
        </antcall>
    </target>

    <!--
        Adds a profile class to the application
        CLI args available as:
        args.name => the application name
        args.path => the target path of the new application
    -->
    <target name="generate-profile-impl">
        <fail>Generate Profile is a Touch SDK specific command.</fail>
    </target>

    <!--
        Adds a model class to the application
        CLI args available as:
        args.name => the model name
        args.path => the target path of the application
        args.fields => the field definitions to add
        -fields=name:val,other:otherval,...
    -->
    <target name="generate-model-impl">
        <property name="section" value="model"/>

        <x-generate dir="${templates.dir}/Model/${name}.js.vm" todir="${args.path}/app/model">
            <load file="${args.path}/app.json"/>
            <param name="name" value="${args.name}"/>
            <param name="fields" value="${args.fields}"/>
        </x-generate>
        <antcall target="update-app">
            <param name="item" value="${args.name}"/>
            <param name="section" value="models"/>
        </antcall>
    </target>

    <!--
        Adds a model class to the application
        CLI args available as:
        args.name => the model name
        args.path => the target path of the application
        args.fields => the field definitions to add
        -fields=name:val,other:otherval,...
    -->
    <target name="generate-view-impl">
        <property name="section" value="model"/>

        <x-generate dir="${templates.dir}/App/app/view" todir="${args.path}/app/view">
            <load file="${args.path}/app.json"/>
            <param name="name" value="${args.name}"/>
            <param name="viewName" value="${args.name}"/>
        </x-generate>
        <antcall target="update-app">
            <param name="item" value="${args.name}"/>
            <param name="section" value="views"/>
        </antcall>
    </target>

    <!--
        Adds mvc class references to the main app.js script
    -->
    <target name="update-app">
        <property name="app.js.file" value="${args.path}/app/app.js"/>
        <loadfile property="appData" srcfile="${app.js.file}"/>

        <condition property="newsection" else="false">
            <matches pattern="(?s)^.*${section}\s*\:.*$" string="${appData}"/>
        </condition>

        <condition property="emptysection" else="false">
            <matches
                    pattern="(?s).*${section}\s*\:\s*\[\s*\]"
                    string="${appData}"
                    multiline="true"/>
        </condition>

        <if>
            <equals arg1="${newsection}" arg2="false"/>
            <then>
                <replaceregexp
                        file="${app.js.file}"
                        match="(Ext.application\(\{(\n|\r\n))"
                        replace="\1    ${section}: [&quot;${item}&quot;],${line.separator}${line.separator}"/>
            </then>
            <elseif>
                <equals arg1="${emptysection}" arg2="true"/>
                <then>
                    <replaceregexp
                            file="${app.js.file}"
                            match="(${section}\s*\:\s*\[)"
                            replace="\1&quot;${item}&quot;"/>
                </then>
            </elseif>
            <else>
                <replaceregexp
                        file="${app.js.file}"
                        match="(${section}\s*\:\s*\[)"
                        replace="\1&quot;${item}&quot;,"/>
            </else>
        </if>

    </target>

    <target name="app-build-impl">

        <script language="javascript">
            importPackage(com.sencha.util);
            project.setProperty( 'build.dir',
                project.getProperty('args.destination') ||
                PathUtil.getAbsolutePath('build'));
        </script>

        <!-- clean the build directory -->
        <delete dir="${build.dir}"/>

        <!-- run sass compilation over the various themes -->
        <for param="sass">
            <dirset dir="${args.path}/resources/sass" includes="*"/>
            <sequential>
                <basename property="sass.name" file="@{sass}"/>
                <!--
                compile to both the workspace (for theme build)
                and build directory (for deployment)
                -->
                <condition property="use.shell" value="true">
                    <os family="unix"/>
                </condition>
                <exec executable="compass" failonerror="true" vmlauncher="${use.shell}">
                    <arg value="compile"/>
                    <arg value="--boring"/>
                    <arg value="@{sass}"/>
                    <arg value="--css-dir"/>
                    <arg value="${args.path}/resources/css/${sass.name}"/>
                    <arg value="--force"/>
                </exec>
                <copy todir="${build.dir}">
                    <fileset dir="${args.path}"
                             includes="resources/css/${sass.name}/**/*"/>
                </copy>
                <x-compress-css srcfile="${build.dir}/resources/css/${sass.name}/*.css"
                                outdir="${build.dir}/resources/css/${sass.name}"/>
            </sequential>
        </for>



        <!-- slice the themes for the various images -->
        <for param="theme">
            <dirset dir="${args.path}/resources/theme" includes="*"/>
            <sequential>
                <basename property="theme.name" file="@{theme}"/>
                <x-sencha-command>
                    theme
                    build
                    -page=@{theme}/theme.html
                    -out=${build.dir}/resources/images/${theme.name}
                </x-sencha-command>
            </sequential>
        </for>

        <!-- compile the page -->
        <x-sencha-command>
            compile
            page
            +yui
            -in=index.html
            -out=${build.dir}/index.html
        </x-sencha-command>

    </target>

</project>