<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/js/ext4/resources/css/ext-all.css" />

<script type="text/javascript" src="/js/ext4/ext-all-debug.js"></script>
</head>
<body>

<script type="text/javascript">


Ext.onReady(function() {

    Ext.create('Ext.window.Window', {
        height : 300,
        width  : 300,
        title  : 'A Container with an HBox layout',
        layout : {
            type  : 'hbox',
            pack  : 'end'
        },
        defaults : {
            frame : true,
            width : 75
        },
        items : [
            {
               title  : 'Panel 1',
               height : 100
            },
            {
               title  : 'Panel 2',
               height : 75,
               width  : 100
            },
            {
               title  : 'Panel 3',
               height : 200
            }
        ]
    }).show();


});

</script>
</body>
</html>
