<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link rel="stylesheet" type="text/css" href="/js/ext4/resources/css/ext-all.css" />

<script type="text/javascript" src="/js/ext4/ext-all-debug.js"></script>
</head> 
<body> 

<script type="text/javascript">


Ext.onReady(function() {

    Ext.create('Ext.window.Window', {
        height : 300,
        width  : 300,
        title  : 'A Container with a VBox layout',
        layout : {
            type  : 'vbox',
            pack  : 'center'
        },
        defaults : {
            frame : true
        },
        items : [
            {
                title : 'Panel 1',
                flex  : 1
            },
            {
                title : 'Panel 2',
                flex  : 1
            },
            {
                title : 'Panel 3',
                flex  : 1
            }
        ]
    }).show();


});

</script> 
</body>
</html>
