(function(Ext){

Ext.sandboxName = '${jsPrefix}';
Ext.isSandboxed = true;
Ext.buildSettings = {"baseCSSPrefix":"${cssPrefix}","scopeResetCSS":true};

${data}

})(this.${jsPrefix} || (this.${jsPrefix} = {}));
