<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/js/ext4/resources/css/ext-all.css" />

<script type="text/javascript" src="/js/ext4/ext-all-debug.js"></script>
</head> 
<body> 

<script type="text/javascript">


Ext.onReady(function() {


    Ext.create('Ext.window.Window', {
        height     : 300,
        width      : 300,
        layout     : 'absolute',
        autoScroll : true,
        items      : [
            {
                title : 'Panel1',
                x      : 50,
                y      : 50,
                height : 100,
                width  : 100,
                html   : 'x: 50, y:100',
                frame  : true
            },
            {
                title  : 'Panel2',
                x      : 90,
                y      : 120,x
                height : 75,
                width  : 75,
                html   : 'x: 90, y: 120',
                frame  : true
            }
        ]
    }).show();




});

</script> 
</body>
</html>
