<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/js/ext4/resources/css/ext-all.css" />

<script type="text/javascript" src="/js/ext4/ext-all-debug.js"></script>
</head> 
<body> 

<script type="text/javascript">


Ext.onReady(function() {

    var myWin = Ext.create('Ext.window.Window', {
        height       : 200,
        width        : 400,
        title        : 'A Window with a Column layout',
        layout       : 'column',
        defaults     : {
            frame : true,
            columnWidth : .5
        },
        items        : [
            {
                title       : 'Col 1',
                id          : 'col1',
            },
            {
                title       : 'Col 2',
                html        : "20% relative width",
            },
            {
                title : 'Col 3',
                html  : "100px fixed width",
            },
            {
                title       : 'Col 4',
                frame       : true,
                html        : "50% relative width",
            }
        ]
    });

myWin.show();
});

</script> 
</body>
</html>
