<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/js/ext4/resources/css/ext-all.css" />

<script type="text/javascript" src="/js/ext4/ext-all-debug.js"></script>
</head> 
<body> 

<script type="text/javascript">


Ext.onReady(function() {
    Ext.create('Ext.window.Window', {
        height     : 200,
        width      : 200,
        layout     : 'fit',
        autoScroll : true,
        border     : false,
        items      : [
            {
                title : 'Panel1',
                html   : 'I fit in my parent!',
                frame  : true
            }
        ]
    }).show();

});

</script> 
</body>
</html>
