<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>${name}</title>
    <link rel="stylesheet" href="resources/css/${themeName}/app.css">
    <!-- <x-compile> -->
        <!-- <x-bootstrap> -->
            <script src="${frameworkPath}/ext-debug.js"></script>
        <!-- </x-bootstrap> -->
        <script src="app/app.js"></script>
    <!-- </x-compile> -->
</head>
<body></body>
</html>
